.page-header {
    border: 1px solid $header-border;
}

.container {
    &.nav {
        flex-direction: row;
    }
}

/* Header navigation menu */

.nav-container {
    margin-left: 93px;
}

.contacts {
    .item+.item {
            margin-left: 30px;
        }
}

.site-nav .link,
.contacts .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: $title-text-color;

    transition: color 250ms $cubic-bezier-transition;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: $accent-color;
}

.contacts .link:hover,
.contacts .link:focus {
    color: $accent-color;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link {
    color: $primary-text-color;
}

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Navigation animation */

/* Contacts hover/focus effect START */

.contacts .link:hover::after,
.contacts .link:focus::after {
    opacity: 1;
    transform: scaleX(1);
}

/* Contacts hover/focus effect END */

.site-nav .link,
.contacts .link {
    position: relative;
}

.site-nav .link:not(.current):hover::after,
.site-nav .link:not(.current):focus::after {
    opacity: 1;
    transform: scaleX(1);
}

.site-nav .link:not(.current)::after,
.contacts .link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 400ms $cubic-bezier-transition, transform 400ms $cubic-bezier-transition;
}

.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
}

.site-nav .link.current {
    position: relative;
    color: $accent-color;
}