.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__button {
    min-width: 73px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    background-color: $background-light-color;
    color: $title-text-color;
    border: 0;
    border-radius: 4px;

    transition: color 250ms $cubic-bezier-transition,
        background-color 250ms $cubic-bezier-transition,
        box-shadow 250ms $cubic-bezier-transition;
}

.filter .filter__item:first-child .filter__button {
    padding: 6px 25px;
}

.filter .filter__item + .filter__item {
    margin-left: 8px;
}

.filter__button:hover,
.filter__button:focus {
    background-color: $accent-color;
    color: $primary-light-color;
    box-shadow: $button-shadow;
}