.logo {
    font-family: Raleway, sans-serif;
    color: $accent-color;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}

.logo--black {
    color: $black-color;
}

.logo-white {
    color: $primary-light-color;
}